:host {
  display: block;
}

h1 {
  font-size: 24px;
}

button {
  background-color: #000e;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

button:disabled {
  background-color: rgba(77, 77, 77, 0.933);
  color: #efefef;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  padding: 2px;
  margin: 2px;
  background-color: #efefef;
}

.component-container {
  padding: 16px;
  /* background-color: cyan; */
  border-radius: 8px;
  border: 1px #465cff solid;
}

.title {
  font-size: 24px;
  color: #465cff;
}

.greeting {
  font-size: 18px;
}

.center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.inputDescription {
  color: #a2a2a0;
}
